:root{
  --text-size: clamp(1.2rem, 4vw, 1.6rem);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 


*, *::before, *::after {
  margin:0; padding:0; box-sizing: inherit; 
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url("../public/images/bg-7314.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: clamp(2.8rem, 10vw, 4.2rem);
  text-align: center;
  margin-bottom: 20px;
  -webkit-text-fill-color: rgba(255, 77, 0, 0.571);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

li {
  font-size: var(--text-size);
}

li.ant-list-item.done {
  text-decoration: line-through;
  color: rgba(222, 213, 40, 0.626);
  text-decoration-style: wavy
}

main {
  width: 89%;
  max-width: 750px; 
  margin: 0 auto;
  margin-top: 3%;
  background-color: rgba(41, 177, 148, 0.851);
  padding: 15px;
  border-radius: 50px;
  border: 5px solid whitesmoke;
  filter: drop-shadow(0px 0px 30px black)
}

button.ant-btn {
  background-color: purple;
  font-size: var(--text-size);
}

span.ant-input-affix-wrapper, 
input.ant-input {
  background-color: rgba(240, 178, 23, 0.613);

}